html {
    background-image: url( ../images/clock.svg );
    font-family: "Helvetica Neue", Arial;
}
body {
    margin: 20px auto;
    padding: 0;
    width: 800px;
    background: #fff;
    box-shadow: 0 0 3px 6px #bbb;
}
div.body {
    padding: 0 30px;
}
div.footnote {
    padding: 10px 30px;
}

div.h1 {
    padding: 3px 30px;
    background: #f0f0f0;
}
h2 {
    margin: 19px 0 9px 0;
}
a {
    color: inherit;
}

.error {
    color: red;
}

table.status,
table.schedule {
    border: 1px solid #d0d0d0;
}
table.status th,
table.status td,
table.schedule th,
table.schedule td {
    padding: 5px 12px;
}

div.footnote {
    font-size: small;
    margin-top: 40px;
}
div.footnote > p {
    border-top: 1px solid #d0d0d0;
    padding-top: 10px;
}
form.change-schedule input[type="text"] {
    width: 2em;
    padding: 2px;
    border-radius: 0; /* hacks to make WebKit behave on both iOS and desktop */
    border: 1px solid #d0d0d0;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
    background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
}
div.tabs {
    float: right;
    margin: 10px 60px 10px 10px;
}
div.tabs > ul {
    margin: 0;
    padding: 0;
}
div.tabs > ul > li {
    display: inline;
    margin: 0 5px;
}
ul.log-files {
    margin: 0;
    padding: 0;
}
ul.log-files > li {
    display: inline;
    margin: 0 5px;
}
div.log {
    margin: 40px 30px 30px 30px;
}
div.log > table {
    width: 100%;
    border-collapse: collapse;
}
div.log > table > * > * > td,
div.log > table > * > * > th {
    border: 1px solid #c0c0c0;
    padding: 5px;
    width: 33%;
}
div.graphic-log {
    margin: 40px 30px 30px 30px;
}
div.graphic-log > table {
    width: 100%;
    border-collapse: collapse;
}
div.graphic-log > table > * > * > td,
div.graphic-log > table > * > * > th {
    border: 1px solid #c0c0c0;
    padding: 0px;
    text-align: center;
}
th.h {
    width: 23px;
}
.selected {
    font-weight: bold;
}
div.graphic-log div.legend {
    text-align: right;
    margin-top: 10px;
}
div.graphic-log div.legend span {
    padding: 2px 5px;
}

div.graphic-log div.bar {
    position: relative;
}
div.graphic-log div.bar > span {
    display: block;
    position: absolute;
    height: 10px;
}

span.dotdotdot {
    line-height: 2px;
}
div.graphic-log span.d0 {
    background: #8080ff;
}
div.graphic-log span.d1 {
    background: #ff8080;
}
div.graphic-log span.d2 {
    background: #80ff80;
}
div.graphic-log span.d3 {
    background: #80a0a0;
}

div.graphic-log div.bar > span.d0 {
    top: 0;
}
div.graphic-log div.bar > span.d1 {
    top: 10px;
}
div.graphic-log div.bar > span.d2 {
    top: 20px;
}
div.graphic-log div.bar > span.d3 {
    top: 30px;
}
/* possibly add colors for more devices */
