html {
    background-image: url( ../images/clock.svg );
    font-family: "Helvetica Neue", Arial;
}
body {
    margin: 20px auto;
    padding: 0;
    width: 800px;
    background: #fff;
    box-shadow: 0 0 3px 6px #bbb;
}
div.body {
    padding: 0 30px;
}
div.footnote {
    padding: 10px 30px;
}

div.h1 {
    padding: 3px 30px;
    background: #f0f0f0;
}
h2 {
    margin: 19px 0 9px 0;
}

.error {
    color: red;
}

table.status,
table.schedule {
    border: 1px solid #d0d0d0;
}
table.status th,
table.status td,
table.schedule th,
table.schedule td {
    padding: 5px 12px;
}

div.footnote {
    font-size: small;
    margin-top: 40px;
}
div.footnote > p {
    border-top: 1px solid #d0d0d0;
    padding-top: 10px;
}
form.change-schedule input[type="text"] {
    width: 2em;
}
